db.sqlite3
*.pyc
OUCanEat/migrations

# Secret config parameters
*.ini

# Image files (so we don't put into the repo demo files uploaded when this app was run)
*.jpg
*.gif
*.jpeg
*.png

# AWS key pair file
*.pem