html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

label {
	font-family: sans-serif;
	display: flex;
}
#
#loginForm label {
	display: inherit;
}
.fieldInput {
	margin-top: 1rem;
}
#map {
	/*height: 80%;*/
	height: 590px;
}
.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
/**/
label[for="id_picture"] {
	background-color: red; 
}


.inputfile:focus + label,

/**/

#inputForm {
	width: 700px;
	padding: 5rem;
	border: solid #f7f7f9;
	border-width: .2rem;
}
.transparentBorder {
	border-color: transparent;
}
.containerBG {
	background-color:#F5F5F5;
}

.panelBody {
	overflow-y: scroll; 
	height: 590px
}

.titleFont {
	font-size: 18pt;
}

.contentFont {
	font-size: 16pt;
}

.panelTrans {
	background-color: transparent;
}

.tableFullWid {
	width: 100%;
}

.skyblue {
	background-color : #48D1CC;
}

.navbarColor {
	color: #696969; 
}

.formPadding {
	padding-right: 30pt;
}
.marginBotZero {
	margin-bottom: 0pt;
}

.navbarTitle {
	font-size:  24pt;
}

#error{	
    color: red;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    margin-top: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;

}