html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}


.height{
	height: 100%;
}

label, .editEvent {
	font-family: sans-serif;
	display: flex;
}

.uploadBtn {
	background-color: gray;
}

#loginForm label {
	display: inherit;
}
.fieldInput {
	margin-top: 1rem;
}
#map {

	height: 590px;
}
.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

}
/**/
label[for="id_picture"] {
	cursor: pointer;
	font-weight: 700px;
	font-size: 18px;
	/*outline: 1px dotted #000;*/
	/*outline: -webkit-focus-ring-color auto 5px;*/
}
/**/

#inputForm {
	width: 100%;
	border: solid #f7f7f9;
}
.transparentBorder {
	border-color: transparent;
}
.containerBG {
	background-color:#F5F5F5;
}

.panelBody {
	overflow-y: scroll; 
	overflow-x: hidden;
	height: 590px
}

.titleFont {
	font-size: 18pt;
}

.contentFont {
	font-size: 16pt;
	color: #696969; 
}

.panelTrans {
	background-color: transparent;
}

/*.tableFullWid {
	width: 100%;
}*/
table{
	width: 470px;
	table-layout: fixed;
}

td{
	word-wrap:break-word;
}

.skyblue {
	background-color : #48D1CC;
}

.navbarColor {
	color: #696969; 
}

.formPadding {
	padding-right: 30pt;
}
.marginBotZero {
	margin-bottom: 0pt;
}

.navbarTitle {
	font-size:  24pt;
}

#error{	
    color: red;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    margin-top: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.event_table{
	font-size: 16pt;
	color: #696969; 
}

.event_table_button{
	text-align: right;
}

#restaurant_name{
	font-size: 20pt
}

#restaurant_open{
	font-size: 18pt
}

#restaurant_detail{
	font-size: 14pt
}
#rate{
	font-size: 14pt;
	text-align: center;
	color: #696969; 
}

