{% extends "OUCanEat/home.html" %}

{% block init_js %}
	<script language="javascript">
	$(window).on('load', function() {
		show_event_page({{ event.id }});
		getToday();
	});
	</script>
{% endblock %}


{% block info %}
    <div class="col-md-4 height"  > 
		<div class="panel panelTrans height">
			<div id="info" class="panel-body panelBody height">

			<h2>{{event.name}}</h2>
			<table class="tableFullWid table">
				<tr>
					<td class="contentFont">Restaurant: </td>
					<td class="contentFont">{{event.restaurant.name}}</td>
				</tr>
				<tr>
					<td class="contentFont">Time: </td>
					<td class="contentFont">{{event.event_dt}}</td>
				</tr>
				<tr>
					<td class="contentFont">Description: </td>
					<td class="contentFont">{{event.desc}}</td>
				</tr>
				<tr>
					<td class="contentFont">Rating: </td>
					<td class="contentFont" id="latest_rating">{{rating}}</td>
				</tr>
				<tr>
					<td class="contentFont">Host: </td>
					<td class="contentFont"><a href="{% url 'show-profile' event.host.username %}">
					{{event.host.username}}</a></td
				</tr>
				<tr>
					<td class="contentFont">Participants: </td>
				</tr>
				{% for p in event_participants %}
                	<tr>
						<td></td>
						<td class="contentFont">{{p.username}}</td>
					</tr>
				{% endfor %}
			</table>

			<div>
			<table style="display: inline-block; overflow:scroll;">
				<tr id="pictures">
				</tr>
			</table>
			</div>

			<form class="contentFont" id="pic_form" enctype="multipart/form-data"  method="post" onchange="upload_event_pic({{event.id}})">
				{% for field in form.visible_fields %}
					<button type="button" class="btn btn-success btn-md">{{field.label_tag}}</button>
					<br/>
					<img id="preview" width='200px'/>
					<button class="btn btn-info btn-lg skyblue transparentBorder" id="pic_btn" type="button">Upload</button>
					{{field}}
					{% for error in field.errors %} {{error}} {% endfor %}

				<input type="hidden" name="event_id" value="{{event.id}}">
				{% endfor %}
				{% csrf_token %}
			</form>
			{% if event_status == "toRate" %}
			<div id="review" class="list-group">
				
				<div class="col-md-10">
				<table>
				<th>
				<label class="radio-inline">
					<input class="radio" type="radio" value=1 name="rating">1 
				</label> 
				<label class="radio-inline">
					<input type="radio" value=2 name="rating">2
				</label> 
				<label class="radio-inline">
					<input type="radio" value=3 name="rating">3
				</label> 
				<label class="radio-inline">
					<input type="radio" value=4 name="rating">4
				</label> 
				<label class="radio-inline">
					<input type="radio" value=5 name="rating">5
				</label> 
				</th>
				<th class= "event_table_button">
				<span id="error"></span>

				<button class="btn btn-info btn-lg skyblue transparentBorder" onclick="add_review({{event.id}})">Rate</button>
				</th>
				</table>
				</div>
			</div>
			{% endif %}						
			

			
			<div id="comments" class="list-group height">
				<br>
				<br>
				<div>
				
				<textarea class="form-control" rows="3" placeholder="Say something..." id="new_comment_{{event.id}}"></textarea>
				
				<button  class="orm-control btn btn-info btn-lg skyblue transparentBorder " onclick="add_comment({{event.id}})">Comment</button>
				</div>
			</div>


			</div>
		</div>
	</div>
{% endblock%}

