{% extends "OUCanEat/home.html" %}

{% block init_js %}
	<script language="javascript">
	$(window).on('load', function() {
		show_event_page({{ event.id }});
	});
	</script>
{% endblock %}


{% block info %}
    <div class="col-md-4"  > 
		<div class="panel panelTrans">
			<div id="info" class="panel-body panelBody">

			<h3>{{event.restaurant.name}}</h3>
			<table style="width:100%">
				<tr>
					<td class="contentFont">Time: </td>
					<td class="contentFont">{{event.event_dt}}</td>
				</tr>
				<tr>
					<td class="contentFont">Description: </td>
					<td class="contentFont">{{event.desc}}</td>
				</tr>
				<tr>
					<td>Rating: </td>
					<td id="latest_rating">{{rating}}</td>
				</tr>
				<tr>
					<td class="contentFont">Host: </td>
					<td class="contentFont"><a href="{% url 'show-profile' event.host.username %}">
					{{event.host.username}}</a></td
				</tr>
				<tr>
					<td class="contentFont">Participants: </td>
				</tr>
				{% for p in event_participants %}
                	<tr>
						<td></td>
						<td class="contentFont">{{p.username}}</td>
					</tr>
				{% endfor %}
			</table>

			<div>
			<table style="display: inline-block; overflow:scroll;">
				<tr id="pictures">
				</tr>
			</table>
			</div>

			<form id="pic_form" enctype="multipart/form-data"  method="post" onchange="upload_event_pic({{event.id}})">
				<table>
					{{ form }}
				</table>
				<input type="hidden" name="event_id"  value="{{event.id}}">
				<button id="pic_btn" type="button">Upload</button>
				{% csrf_token %}
			</form>
			{% if event_status == "toRate" %}
						{% endif %}

			<div id="review" class="list-group">
				<div>
				<div class="col-md-10">
				<input type="radio" value=1 name="rating">1  
				<input type="radio" value=2 name="rating">2
				<input type="radio" value=3 name="rating">3
				<input type="radio" value=4 name="rating">4
				<input type="radio" value=5 name="rating">5
				
				<span id="error"></span>
				</div>
				<button onclick="back_home()">Back</button>

				<button class="btn btn-primary" onclick="add_review({{event.id}})">Rate</button>
				</div>
			</div>



			
			<div id="comments" class="list-group">
				<div>
				<div class="col-md-10">
				<textarea class="form-control" rows="1" placeholder="add your comment" id="new_comment_{{event.id}}"></textarea>
				</div>
				<button class="btn btn-primary" onclick="add_comment({{event.id}})">Add</button>
				</div>
			</div>


			</div>
		</div>
	</div>
{% endblock%}

