{% extends "OUCanEat/map_base.html" %}


{% block info %}
    <div class="col-md-4"  > 
		<div class="panel" style="background-color: transparent;">
			<div id="info" class="panel-body" style="overflow-y: scroll; height: 590px" >

			<h2 id="topEvent"> Your upcoming events: </h2>
			{% for event in upcoming_event %}
			  	<table style="width:100%" id="yourEvents">
			  	<tr>
					<td class="contentFont"><a href='/OUCanEat/show_event_page/{{event.id}}'>{{event.name}}</a></td>
					<td class="contentFont" style="text-align: right;">{{event.event_dt}}</td>
					<!-- <td style="font-size: 12pt;text-align: right;"> <button type='button' class='btn btn-default btn-lg' onclick='show_event_page({{event.pk}})'>Details</button></td> -->
				  	
				 </tr>
				</table>
			{% endfor %}

			<h2 id="oldEvent"> Your past events: </h2>
			{% for event in past_event %}
			  	<table style="width:100%" id="oldEvents">
			  	<tr>
					<td class="contentFont"><a href='/OUCanEat/show_event_page/{{event.id}}'>{{event.name}}</a></td>
					<!-- <td style="font-size: 18pt">{{event.num_participants}}</td> -->
					<td style="font-size: 10pt; text-align: right;"> <!-- <button type='button' class='btn btn-default btn-lg' onclick='show_event_page({{event.pk}})'>Review</button> -->
					<form action="{% url 'show_event_page' event.pk %}" method="get" class="contentFont">
            			<input class="submit" type="submit" value="Review">
        			</form>						
						
					</td>				 

 	
				 </tr>
				</table>
			{% endfor %}

			</div>
		</div>
	</div>
{% endblock%}

