{% extends "OUCanEat/map_base.html" %}

{% block init_js %}
	<script type="text/javascript">
	$(window).on('load', function() {
		profileMap();
	});
	</script>
{% endblock %}

{% block info %}
    <div class="col-md-4"  > 
		<div class="panel" style="background-color: transparent;">
			<div id="info" class="panel-body" style="overflow-y: scroll; height: 590px" >
			{% if upcoming_event %}	
			<h2 id="topEvent"> Your upcoming events: </h2>
			{% endif %}

			{% for event in upcoming_event %}			
			  	<table style="width:100%" id="yourEvents" class="table table-hover event_table">
			  	<tr>
					<td class="contentFont"><a href='/OUCanEat/show_event_page/{{event.id}}'>{{event.name}}</a></td>
					<td class="contentFont event_table_button">{{event.event_dt|date:'Y/m/d'}} {{event.event_dt|date:'H:i'}} </td>
				  	
				 </tr>
				</table>
			{% endfor %}

			{% if past_event %}		
			<h2 id="oldEvent"> Your past events: </h2>
			{% endif %}

			{% for event in past_event %}			
			  	<table style="width:100%" id="oldEvents" class="table table-hover event_table">
			  	<tr>
					<td class="contentFont"><a href='/OUCanEat/show_event_page/{{event.id}}'>{{event.name}}</a></td>
					<td class="event_table_button">
					<form action="{% url 'show_event_page' event.pk %}" method="get" class="contentFont">
            			<input class=" btn btn-info btn-lg skyblue transparentBorder" type="submit" value="Review">
        			</form>						
					</td>				 
				 </tr>
				</table>
			{% endfor %}

			</div>
		</div>
	</div>
{% endblock%}

