{% extends "OUCanEat/map_base.html" %}

{% block init_js %}
	<script type="text/javascript">
	$(window).on('load', function() {
		show_default();
		getToday();
	});
	</script>
{% endblock %}

  
{% block search %} 
<div>
	<form class="form-inline text-center">
	<br>
	<br>
		<div class="form-group formPadding" >
			<input class="form-control input-lg" id="keyword" type="text" placeholder= "Search Restaurant">
		</div>

	    
		<div class="form-group" style="padding-right: 30pt;">
		    <input class="form-control input-lg" id="search_date" type="date" min= '1900-01-01'>
		</div>
		     
		<div class="form-group">
		    <button type="button" id="search_btn" class="btn btn-info btn-lg skyblue transparentBorder">
		      	<span class="glyphicon glyphicon-search"></span> Find Events!
		    </button>
		</div>	    
		    <br>
		    <br>
		    <br>
	</form>
</div>
{% endblock %}

{% block info %}

	<div class="col-md-4 panelBody">

		
				<div id="info"></div>
				<div id="sub_info"></div>
				<div id="upcoming_events"></div>
				<div id="top_events"></div>
	

	</div>

{% endblock %}
