{% extends "OUCanEat/base.html" %}

{% block user-info %} 

<nav class="navbar navbar-default" style="background-color: #48D1CC; margin-bottom:  0pt;">
  	<div class="container-fluid">
    	<div class="navbar-header">
			<a class="navbar-brand" href="#" style="color: #696969; font-size:  24pt;">oUcanEat</a>
    	</div>
    <div class="collapse navbar-collapse">
      	<ul class="nav navbar-nav navbar-right" >
        	<li class="active" >
        		<a href="#" style="background-color:#48D1CC; color: #696969; font-size: 14pt; ">UserName</a>
        	</li>
        	<li><a href="#" >Profile</a></li>
        	<li><a href="#">Event History</a></li>
        	<li><a href="#">Notification<span class="badge">4</span></a></li>
        	<li><a href="{% url 'logout' %}">Log Out</a></li>
       	</ul>
	</div>
</nav>

{% endblock %}


{% block search %} 

<div class="container-fluid" style="background-color:#F5F5F5;">
	<form class="form-inline"  style= "text-align: center; ">
	<br>
	<br>
		<div class="form-group" style="padding-right: 30pt;" >
			<input class="form-control input-lg" id="keyword" type="text" placeholder= "Key Word">
		</div>


		<div class="form-group" style="padding-right: 30pt;">
		    <input class="form-control input-lg" id="focusedInput" type="text" placeholder= "Location">
		</div>
	    
		<div class="form-group" style="padding-right: 30pt;">
		    <input class="form-control input-lg" id="focusedInput" type="text" placeholder= "Time">
		</div>
		     
		<div class="form-group">
		    <button type="button" class="btn btn-info btn-lg" style="background-color: #48D1CC; border-color: transparent;">
		      	<span class="glyphicon glyphicon-search"></span> Find Events!
		    </button>
		</div>	    
		    <br>
		    <br>
		    <br>
	</form>

{% endblock %}


{% block map %} 

<div class="row" style = "margin-bottom: 0pt; ">
    <div class="col-md-4"  > 
		<div class="panel" style="background-color: transparent;">
			<div id="info" class="panel-body" style="overflow-y: scroll; height: 590px" >
			<h2 id="topEvent"> Top Events: </h2>
			{% for event in top_events %}
			  	<table style="width:100%" id="topEvent_info">
			  	<tr>
					<td style="font-size: 18pt">{{event.restaurant.name}}</dd>
					<td style="font-size: 18pt">{{event.num_participants}}</dd>
				  	<td style="text-align: right;">
						<button type="button" class="btn btn-default btn-lg" onclick="join_event({{event.id}}, 1)">Join Event</button>
					</td>
				 </tr>
				</table>
			{% endfor %}
			<h2 id="upcomingEvent"> Upcoming Events: </h2>
			{% for event in upcoming_events %}
				<table style="width:100%" id="upcomingEvent_info">
			  	<tr>
				  	<td style="font-size: 18pt">{{event.restaurant.name}}</dd>
				  	<td style="font-size: 18pt">{{event.event_dt}}</dd>
				  	<td style="text-align: right;">
						<button type="button" class="btn btn-default btn-lg" onclick="join_event({{event.id}}, 1)">Join Event</button>
					</td>
				 </tr>
				</table>
			{% endfor %}
			</div>
		</div>
	</div>

    <div class="col-md-8" >
     	<div class="panel">
			<div class="panel-body" style="height: 590px;" id="map" ></div>
		</div>
    </div>
</div>

{% endblock %}

