{% extends "OUCanEat/base.html" %}

{% block map_header %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyjb_hSmHUamgvrnOYxtvHTN2kjeex0eI&signed_in=true&libraries=places&callback=initMap" defer></script>
	{% load staticfiles %}
    <script type="text/javascript" src="{% static 'OUCanEat/google.js' %}"></script>
    <script type="text/javascript" src="{% static 'OUCanEat/base.js' %}"></script>

	{% block init_js %}
	{% endblock %}
{% endblock %}

<body>


{% block content %} 


		{% block info %}
		{% endblock %}

		<div class="col-md-8">	
			<div id="mapPanel">	</div>
			
			<div class="panel-body " id="map" ></div>
		</div>


{% endblock %}

</body>
