{% extends "OUCanEat/base.html" %}

{% block map_header %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyjb_hSmHUamgvrnOYxtvHTN2kjeex0eI&signed_in=true&libraries=places&callback=initMap" async defer></script>
	{% load staticfiles %}
    <script type="text/javascript" src="{% static 'OUCanEat/google.js' %}"></script>
    <script type="text/javascript" src="{% static 'OUCanEat/base.js' %}"></script>

	{% block init_js %}
	{% endblock %}
{% endblock %}

<body>

{% block map %} 
<div class="row marginBotZero">
    <div class="col-md-4"  > 
		<div class="panel panelTrans">
			<div class="panel-body panelBody" >
			<div id="info"></div>
			<div id="sub_info"></div>
			<div id="upcoming_events"></div>
			<div id="top_events"></div>
			</div>
		</div>
	</div>

    <div class="col-md-8" >
     	<div class="panel">
			<div class="panel-body " id="map" ></div>
		</div>
    </div>
</div>
{% endblock %}

</body>
