{% extends "OUCanEat/home.html" %}


{% block map %}


<div class="row" style = "margin-bottom: 0pt; ">
    <div class="col-md-4"  > 
		<div class="panel" style="background-color: transparent;">
			<div id="info" class="panel-body" style="overflow-y: scroll; height: 590px" >
			<h2 id="profileInfo"> Your info: </h2>
				<table style="width:100%">
					{% if profile.picture %}
					<img src="{% url 'picture' curr_user %}" width="100px">
                    
                	{% endif%}
					<tr>
						<td style="font-size: 18pt">Username: </td>
						<td style="font-size: 18pt">{{profile.user}}</td>
						
					</tr>
					<tr>
						<td style="font-size: 18pt">Age: </td>
						<td style="font-size: 18pt">{{profile.age}}</td>
					</tr>
					<tr>
						<td style="font-size: 18pt">Bio:</td>
						<td style="font-size: 18pt">{{profile.bio}}</td>
					</tr>

					<tr>
						<td style="font-size: 18pt">Preference:</td>
						<td style="font-size: 18pt">
							<table>
							
								{% for pre in prefer %}
								<tr>

									<td>{{pre.choice}}</td>
								
								</tr>
								{% endfor %}
								
							</table>
						</td>
					</tr>
				</table>
			{% if curr_user == profile.user.username %}
			<a href="{% url 'edit-profile' %}" class="btn btn-default btn-lg" style="font-size: 18pt">Edit</a>
			{% endif %}
			<h2 id="topEvent"> Your Events: </h2>
			{% for event in your_events %}
			  	<table style="width:100%" id="yourEvents">
			  	<tr>
					<td style="font-size: 18pt">{{event.restaurant.name}}</td>
					<td style="font-size: 18pt">{{event.num_participants}}</td>
					<td style="font-size: 18pt"> <a href="#" class="btn btn-default btn-lg">Detail</td>
				  	
				 </tr>
				</table>
			{% endfor %}

			<h2 id="oldEvent"> Your Past Events: </h2>
			{% for event in old_events %}
			  	<table style="width:100%" id="oldEvents">
			  	<tr>
					<td style="font-size: 18pt">{{event.restaurant.name}}</td>
					<!-- <td style="font-size: 18pt">{{event.num_participants}}</td> -->
					<td style="font-size: 18pt"> <a href="#" class="btn btn-default btn-lg">Detail</td>
				  	
				 </tr>
				</table>
			{% endfor %}

			<h2 id="oldJoinedEvent"> Your Past Joined Events: </h2>
			{% for j in joined %}
			  	<table style="width:100%" id="oldEvents">
			  	<tr>
					<td style="font-size: 18pt">{{j.event.restaurant.name}}</td>
					<!-- <td style="font-size: 18pt">{{event.num_participants}}</td> -->
					<td style="font-size: 18pt"> <a href="#" class="btn btn-default btn-lg">Detail</td>
				  	
				 </tr>
				</table>
			{% endfor %}


			</div>
		</div>
	</div>

    <div class="col-md-8" >
     	<div class="panel">
			<div class="panel-body" style="height: 590px;" id="map" ></div>
		</div>
    </div>
</div>
{% endblock%}

