{% extends "OUCanEat/home.html" %}

{% block frontbody%}
<body onload="profileMap()">
{% endblock%}
{% block map %}

<div class="row marginBotZero" >
    <div class="col-md-4"  > 
		<div class="panel panelTrans">
			<div id="info" class="panel-body panelBody">
			<h2 id="profileInfo"> Your info: </h2>
				<table class="tableFullWid">
					{% if profile.picture %}
					<img src="{% url 'picture' curr_user %}" width="100px">
                    
                	{% endif%}
					<tr>
						<td class="titleFont">Username: </td>
						<td id="userName" class="titleFont">{{profile.user}}</td>
						
					</tr>
					<tr>
						<td class="titleFont">Age: </td>
						<td class="titleFont">{{profile.age}}</td>
					</tr>
					<tr>
						<td class="titleFont">Bio:</td>
						<td class="titleFont">{{profile.bio}}</td>
					</tr>

					<tr>
						<td class="titleFont">Preference:</td>
						<td class="titleFont">
							<table>
							
								{% for pre in prefer %}
								<tr>

									<td>{{pre.choice}}</td>
								
								</tr>
								{% endfor %}
								
							</table>
						</td>
					</tr>
				</table>
			{% if curr_user == profile.user.username %}
			<a href="{% url 'edit-profile' %}" class="btn btn-default btn-lg titleFont">Edit</a>
			{% endif %}

			</div>
		</div>
	</div>

    <div class="col-md-8" >
     	<div class="panel">
			<div class="panel-body" id="map" ></div>
		</div>
    </div>
</div>
{% endblock%}

{% block endbody %}
</body>
{% endblock%}
