{% extends "OUCanEat/map_base.html" %}

{% block init_js %}
	<script type="text/javascript">
	$(window).on('load', function() {
		profileMap();
	});
	</script>
{% endblock %}


{% block info %}
    <div class="col-md-4 containerBG"  > 
		<div class="panel panelTrans">
			<div id="info" class="panel-body panelBody">
				<table class="tableFullWid">
					<th id="profileInfo"> <h2>{{profile.user}}'s Profile </h2></th>
			 		<th class="event_table_button">
					{% if curr_user == profile.user.username %}
								<a href="{% url 'edit-profile' %}" class="btn btn-info btn-lg skyblue transparentBorder">Edit</a>
					{% endif %}
					</th>
				</table>
					<table class="tableFullWid table">
						{% if profile.picture %}
						<img src="{% url 'picture' post_user %}" width="100px">
                		{% endif%}
						<tr>
							<td class="contentFont">Username: </td>
							<td id="userName" class="contentFont ">{{profile.user}}</td>
						</tr>
						<tr>
							<td class="contentFont">Age: </td>
							<td class="contentFont ">{{profile.age}}</td>
						</tr>
						<tr>
							<td class="contentFont">Bio:</td>
							<td class="contentFont ">{{profile.bio}}</td>
						</tr>
						<tr>
							<td class="contentFont">Phone:</td>
							<td class="contentFont ">{{profile.phone_number}}</td>
						</tr>
						<tr>
							<td class="contentFont">Preference:</td>
							<td class="contentFont ">
								<table>
									{% for pre in prefer %}
										<tr>
											<td>{{pre.choice}}</td>						
										</tr>
									{% endfor %}					
								</table>
							</td>
						</tr>
					</table>
				
			</div>
		</div>
	</div>
{% endblock%}

